@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Layout Auth - Grafico */
.bg-cover {
  background-image: url("/grafico.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .bg-cover {
    background-image: url("/grafico.svg");
    background-size: contain;
    background-position: 0 10rem;
    background-repeat: no-repeat;
  }
}
